#container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
}
#editor {
  display: flex;
  flex-flow: column;
  height: 90vh;
  flex: 1 1;
}

#save {
  height: 50px;
  background-color: green;
  color: white;
}
#button_group {
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

textarea {
  display: flex;
  resize: none;
  height: 60vh;
}
iframe {
  display: flex;
  height: auto;
  flex: 1 1;
}
menu {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  border: steelblue solid 1px;
  padding: 0px;
  user-select: none;
}
li {
  list-style: none;
  user-select: none;
  padding-left: 20px;
}
li:hover {
  background-color: grey;
  color: white;
}
